<footer>
  <div class="footer-wrapper">
    <div class="copyright">© 2022 Unicial</div>
    <div class="social-copyright-wrapper">
      <a target="_blank" href="mailto:tsimafei@zilionixx.com" rel="noreferrer">
        <i class="fas fa-envelope"></i>
      </a>
      <a target="_blank" href="https://t.me/zilionixx" rel="noreferrer">
        <i class="fab fa-telegram-plane"></i>
      </a>
      <a
        target="_blank"
        rel="noreferrer"
        href="https://www.facebook.com/groups/4354141514692375/"
      >
        <i class="fab fa-facebook-f"></i>
      </a>
      <a target="_blank" rel="noreferrer" href="https://twitter.com/zilionixx">
        <i class="fab fa-twitter"></i>
      </a>
      <a
        target="_blank"
        rel="noreferrer"
        href="https://www.linkedin.com/company/zilionixx "
      >
        <i class="fab fa-linkedin-in"></i>
      </a>
      <a target="_blank" rel="noreferrer" href="https://discord.gg/JEPcm4YD ">
        <i class="fab fa-discord"></i>
      </a>
    </div>
  </div>
</footer>
