<footer>
	<div class="footer-wrapper">
		<div class="copyright">
			© 2022 Unicial
		</div>
		<div class="social-copyright-wrapper">
		  <a
            target="_blank"
            href="mailto:tsimafei@zilionixx.com"
            rel="noreferrer"
          >
            <img src="{{ site.baseurl }}/images/links/znx.png"></img>
          </a>
          <a target="_blank" href="https://t.me/zilionixx" rel="noreferrer">
            <img src="{{ site.baseurl }}/images/links/skype.png"></img>
          </a>
          <a
            target="_blank"
            rel="noreferrer"
            href="https://www.facebook.com/groups/4354141514692375/"
          >
		  	<img src="{{ site.baseurl }}/images/links/facebook.png"></img>
          </a>
          <a
            target="_blank"
            rel="noreferrer"
            href="https://twitter.com/zilionixx"
          >
		  	<img src="{{ site.baseurl }}/images/links/twitter.png"></img>
          </a>
          <a
            target="_blank"
            rel="noreferrer"
            href="https://www.linkedin.com/company/zilionixx "
          >
		  	<img src="{{ site.baseurl }}/images/links/linkedin.png"></img>
          </a>
          <a
            target="_blank"
            rel="noreferrer"
            href="https://discord.gg/JEPcm4YD "
          >
		 	 <img src="{{ site.baseurl }}/images/links/discord.png"></img>
          </a>
		</div>
	</div>
</footer>
