<header>
  <div class="dropdown-overlay"></div>
  <div class="search-overlay mobile"></div>
  <div class="wrapper">
    <div class="topbar">
      <div class="logo">
        <a  href="https://unicial.org/" target="_blank" rel="noreferrer">
          <img src="{{ site.baseurl }}/images/logo.svg" />
          <span>Unicial</span>
        </a>
      </div>
      <div class="dropdown-trigger">Documents {% include sets/downarrow.svg %}</div>
    </div>
    <nav>
      <div class="dropdown-content">
        <ul class="menu">
          <li>
            <span class="border-none"></span>
            <a href="https://marketplace.unicial.org/" target="_blank" rel="noreferrer">Marketplace</a>
            <span class="border-none"></span>
          </li>
          <li>
            <span class="border-none"></span>
            <a href="/" class="active">Documents</a>
            <span class="border-active"></span>
          </li>
          <li>
            <span class="border-none"></span>
            <a href="https://blog.unicial.org/" target="_blank" rel='noreferrer'>Blog</a>
            <span class="border-none"></span>
          </li>
        </ul>
      </div>
    </nav>
    <div class="header_search">
      <div class="search-overlay desktop"></div>
      <form action="{{ site.baseurl }}/search/" method="get">
        <input type="text" name="q" {% if include.add_id %}id="search-input"{% endif %} placeholder="Search" autocomplete="off">
        {% include search.svg %}
        <div class="loader"></div>
        <div class="close">
          {% include close.svg %}
        </div>
        <input type="submit" value="Search" style="display: none;">
      </form>
      <ul class="search-results"></ul>
    </div>

</header>
