<section class="help-section">
  <h1 class="help-intro-title">Need more help?</h1>
  <ul class="help-listing">
    <li>
      <a href="https://discord.gg/JEPcm4YD" target="_blank">
        <h3>Community Chat</h3>
        <p class="description">
          At Discord, you can share your questions, insights, and creations.
        </p>
      </a>
    </li>
    <li>
      <a href="https://t.me/zilionixxcommunity" target="_blank">
        <h3>Telegram</h3>
        <p class="description">Reach out to us through our Telegram channel.</p>
      </a>
    </li>
  </ul>
</section>
