<div class="newsletter">
  <div class="container">
    <div class="newscontent">
      <div class="title">Contact Us</div>
      <div class="description">
        <span class="desc"
          >UCC Token is the base currentcy used for all transactions in the
          Unicial market.</span
        >
        <button class="get" onclick="getInTouch()">
          <span>Get in Touch &nbsp;<img src="../images/arrow.png" /></span>
        </button>
      </div>
    </div>
    <div class="newscontent">
      <div class="title">Subscribe the Events</div>
      <div class="description">
        <input class="email" type="text" placeholder="Your email" />
        <button class="submit" onclick="handleSubscribe()">
          <span><img src="../images/arrow.png" /></span>
        </button>
      </div>
    </div>
  </div>
</div>

<script>
  function getInTouch() {
    window.open("mailto:tsimafei@zilionixx.com");
  }
  function handleSubscribe() {
    var email = $(".email").val();
    if (email == "") {
      window.alert("Please enter your Email");
    } else {
      try {
        const API_KEY =
          "0d8edc054a6bd06495937a23b76913f0e0bf3bb430209e2b4094eeaf61a372b50a68b772";
        const url = `https://zilionixx.api-us1.com/api/3/contact/sync`;

        const data = {
          contact: {
            email: email,
            firstName: "",
            lastName: "",
            phone: "",
          },
        };
        const headers = {
          "Content-Type": "application/json",
          "Api-Token": `${API_KEY}`,
        };

        $.ajax({
          type: "POST",
          url: url,
          data: data,
          crossDomain: true,
          dataType: "jsonp",
          headers: headers,
        }).done(function (data) {
          const tagUrl = `https://zilionixx.api-us1.com/api/3/contactTags`;
          const tagData = {
            contactTag: {
              contact: data.data.contact.id,
              tag: "1",
            },
          };
          $.ajax({
            type: "POST",
            url: tagUrl,
            data: tagData,
            crossDomain: true,
            dataType: "jsonp",
            headers: headers,
          });
        });
      } catch (error) {
        console.error(error);
      }
      console.log("Submitted successfully");
    }
  }
</script>
