header {
  position: relative;
  border-bottom: solid 1px rgba(92, 92, 110, 0.16);
  
  background: #21263F;
  height: 79px;

  .topbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 0;
    z-index: 22;
    position: relative;
    margin-right: 35px;

    @media #{$mid-point} {
      padding: 14px 0;
    }
  }

  .logo {
    margin-right: 16px;
    height: 78px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
      min-width: 78px;
    }
    div {
      font-size: 25px;
      color: white;
    }

    @media #{$mid-point} {
      height: 78px;

      img {
        min-width: 78px;
      }
    }
  }

  .dropdown-trigger {
    font-size: 16px;
    font-weight: 700;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    user-select: none;
    -webkit-tap-highlight-color: transparent;

    svg {
      display: inline-block;
      transition: transform $default-transition;
      width: 10px;
      height: 6px;
      margin-left: 8px;
      transform: rotate(90deg);
    }

    &.open svg {
      transform: rotate(270deg);
    }
  }

  nav {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -15px;
      right: -15px;
      bottom: 0;
      z-index: 22;
    }
  }

  .wrapper {
    padding-bottom: 12px;
    position: relative;
    height: 78px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #21263F;
      z-index: 20;
    }
  }

  .dropdown-overlay,
  .search-overlay {
    background: rgba(0, 0, 0, 0.16);
    position: fixed;
    pointer-events: none;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity $default-transition;
    -webkit-tap-highlight-color: transparent;

    &.open {
      pointer-events: auto;
      opacity: 1;
    }
  }

  .search-overlay.desktop {
    display: none;
  }

  .dropdown-content {
    overflow: hidden;
    transition: transform $default-transition, opacity $default-transition;
    pointer-events: none;
    opacity: 0;
    position: absolute;
    background: $white-color;
    width: 100vw;
    z-index: 21;
    top: 110px;
    left: -16px;
    right: 0;
    transform: translate(0, -16px);
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.16);

    &.open {
      pointer-events: auto;
      opacity: 1;
      transform: translate(0, 0);
      background-color: #21263F;
      z-index: 22;
    }
  }

  .menu {
    margin: 0;
    padding: 0;
    white-space: nowrap;

    li {
      height: 56px;
      margin: 0;
      list-style-type: none;
    }

    a {
      display: flex;
      align-items: center;
      height: 100%;
      padding: 12px 15px 12px 64px;
      color: white;
      font-size: 16px;
      -webkit-tap-highlight-color: transparent;
      text-decoration: none;

      &:hover,
      &.active {
        background-color:#96A1DB;
      }

      &.active {
        font-weight: 700;
      }
    }
  }
}

.header_search {
  height: 38px;
  width: 300px;

  form {
    
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    z-index: 20;
  }

  svg.search-icon {
    position: absolute;
    top: 50%;
    left: 14px;
    transform: translateY(-50%);
    pointer-events: none;
  }

  .loader {
    opacity: 0;
    transition: opacity $default-transition;
    pointer-events: none;
    position: absolute;
    top: 11px;
    right: 24px;
    width: 12px;
    height: 12px;
  }

  &.fetching {
    .loader {
      opacity: 1;
    }
  }

  .close {
    border: none;
    -webkit-appearance: none;
    background-color: transparent;
    display: flex;
    width: 24px;
    height: 24px;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 8px;
    cursor: pointer;
    padding: 0;
    outline: none;
    transition: opacity $default-transition;
    opacity: 0;
    pointer-events: none;
    -webkit-tap-highlight-color: transparent;
    top: 8px;
  }

  input[type="text"] {
    margin: 0;
    padding: 0 40px;
    height: 40px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.3px;
    color: #5c5c6e;
    
    background-color: #21263F;
    width: 100%;
    box-sizing: border-box;
    -webkit-appearance: none;
    border-bottom: transparent 1px solid;

    &::-ms-clear {
      display: none;
    }

    &::placeholder {
      color: #5c5c6e;
    }
  }

  .search-results {
    z-index: 10;
    position: absolute;
    padding: 0;
    margin: 0;
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.16);
    left: 0;
    width: 100%;
    font-size: 15px;
    transition: transform $default-transition, opacity $default-transition;
    pointer-events: none;
    opacity: 0;
    transform: translate(0, -16px);
    background-color: #21263F;
    top: 106px;

    li {
      padding: 0 20px;
      list-style-type: none;

      &.selected a {
        background-color: #303863;
      }

      &.more-results a {
        text-align: center;
        font-size: 16px;
        padding: 15px 16px;
        justify-content: center;
        color: white;
        height: 50px;
      }

      &.no-results {
        text-align: center;
        padding: 24px 0 72px;

        strong,
        span {
          display: block;
          font-size: 15px;
          color:#96A1DB;
        }

        strong {
          margin-bottom: 4px;
        }

        .image {
          width: 70px;
          height: 70px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 0 auto;
        }
      }
    }

    a {
      color: $base-font-color;
      padding: 20px 16px;
      display: flex;
      align-items: flex-start;
      text-decoration: none;
      height: 130px;
      border-radius: 10px;
    }

    .icon {
      padding: 4px 20px 6px 6px;
      flex-shrink: 0;

      img {
        display: block;
      }
    }

    strong {
      color: $white-color;
    }

    .title,
    .description {
      display: block;
    }

    .title {
      font-weight: 500;
      font-size: 18px;

      _:-ms-lang(x),
      & {
        font-weight: 600;
      }
    }

    .description {
      font-size: 16px;
    }
  }

  &.open {
    .close {
      opacity: 0.32;
      pointer-events: auto;

      &:hover {
        opacity: 0.48;
        background-color: #96A1DB;
      }
    }

    .search-results {
      pointer-events: auto;
      opacity: 1;
      transform: translate(0, 0);
      background-color:#21263F;
    }
  }
}

@media #{$tablet} {
  .header_search {
    form {
      z-index: 23;
    }

    input[type="text"] {
      width: 280px;
    }

    .search-results {
      top: 56px;
    }
  }

  header {
    .wrapper {
      display: flex;
      align-items: center;
      padding-bottom: 0;

      &::before {
        z-index: 22;
      }
    }

    nav {
      display: flex;
      align-items: center;
      flex-grow: 1;

      &::before {
        display: none;
      }
    }
  }
}

@media #{$mid-point} {
  .header_search {
    input[type="text"] {
      width: 420px;
      transition: background-color $default-transition;
    }

    &.open {
      input[type="text"] {
        border-radius: 6px 6px 0 0;
      }
    }

    .search-results {
      border-radius: 6px;
      left: auto;
      right: 16px;
      width: 420px;
      top: 12px;
      padding-top: 50px;
      overflow: hidden;
      z-index: 22;
    }
  }

  header {
    .wrapper {
      padding: 0 16px;
      display: flex;
      align-items: center;
    }

    .search-overlay.mobile {
      display: none;
    }

    .search-overlay.desktop {
      display: block;
      z-index: 22;
    }

    .dropdown-content {
      left: -30px;
      width: calc(100vw + 15px);
    }

    .menu a {
      padding-left: 82px;
    }

    nav {
      z-index: auto;
    }
  }
}

@media #{$tablet-landscape} {
  header {
    .logo {
      margin-right: 12px;
    }

    .wrapper{
      display: flex;
      align-items: center;
    }

    .dropdown-overlay.open {
      display: none;
    }

    .dropdown-trigger {
      display: none;
    }

    .dropdown-content {
      margin: 0;
      pointer-events: auto;
      opacity: 1;
      position: relative;
      width: auto;
      top: 0;
      left: 0;
      background: transparent;
      transform: translate(0, 0);
      transition: unset;
      box-shadow: none;
      z-index: 22;
    }

    .menu {
      li {
        display: inline-block;
      }

      a {
        padding: 0 12px;
        color: white;
        text-decoration: none;

        &:hover,
        &.active {
          background-color: transparent;
          color: #96A1DB;
          ;
        }
      }
    }
  }
}

